@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
main{
    background: url(./images/bg-intro-desktop.png) repeat center center fixed ;
    background-color: hsl(0, 100%, 74%);
    padding: 100px;
    min-height: 100vh;
}

section{
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
}
.reg-one{
    color: white;
    padding-right: 60px;
    margin: auto;
    padding: 2em;
    padding-right: 3em;
    width: 50%;
}
.reg-one h1{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 80px;
}
.reg-one p{
    font-size: 16px;
}
.reg-two{
    padding: 60px;
    margin: auto;
    padding: 2em;
    width: 50%;
}
form{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}
input{
    width:100%;
    padding: 15px;
    color: hsl(249, 10%, 88%);
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}
input:focus{
    border: 2px solid hsl(249, 10%, 50%);
    outline: none !important;
}
input#submit{
  background-color: hsl(154, 59%, 51%);  
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 12px;
  cursor:pointer;
  border: none;
  box-shadow: 0px .2em rgb(93, 154, 126);
}
.free{
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 49%);
    width: 100%;
    font-size: smaller;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
 
    
}
.free span{
    font-weight: 1000;
    color: white;
}
form p{
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}
form p a{
    color: red;
    text-decoration: none;
    font-weight: 500;
}
@media(max-width: 144px) {
    section{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    main{
        padding: 10px;
    }
    .reg-one, .reg-two{
        width: 70%;
        padding: 1rem;
        margin: 0 auto;
    }
    .reg-one h1{
        font-size: 2.2em;
        line-height: 50px;
    }
}


    
